<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/football</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property> 
        <!-- Annotated entity classes -->
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Arbitre"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Blessure"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.But"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.CoupeDuMonde"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Equipe"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Joueur"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Match"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Sanction"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.Staff"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.TypeArbitre"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.TypeBut"/>
        <mapping class="com.football.webapp.WEB_INF.classes.entities.TypeSanction"/>
        
    </session-factory>
</hibernate-configuration>